// Max width

$body-max-width:		  1920px;
$container-max-width: 1230px;

// Gutter

$gutter:              1.875rem;
$gutter-half:         ($gutter / 2);
$gutter-double:       ($gutter * 2);
$gutter-triple:       ($gutter * 3);

$gutter-alt:		      1.25rem;
$gutter-alt-half:	    ($gutter-alt / 2);
$gutter-alt-double:	  ($gutter-alt * 2);

// Breakpoints

$screen-sm: 600px;	// Tablet portrait
$screen-md: 900px;	// Tablet landscape
$screen-lg: 1200px;	// Desktop
$screen-xl: 1440px;	// Big desktop

$screen-lt-sm:  $screen-sm - 1;
$screen-lt-md:  $screen-md - 1;
$screen-lt-lg:  $screen-lg - 1;
$screen-lt-xl:  $screen-xl - 1;

// Color definition
// Define colors as variables. These variables should NOT be used outside of this file.

// Common
$-c-white:                  #ffffff;
$-c-black:                  #000000;
$-c-black-light:            #333e50;
$-c-gray-light:             #f3f4f8;
$-c-gray-medium:            #dee0e9;
$-c-gray:                   #d8d8d8;

// UI Colors
$-c-ui-green:               #1bad55;
$-c-ui-red:                 #e63354;
$-c-ui-yellow:              #ffcd00;

// Brand colors
$-c-brand-purple:           #4c23a0;
$-c-brand-purple-light:     #b3a5d8;
$-c-brand-purple-dark:      #290e6c;
$-c-brand-purple-xdark:     #170448;
$-c-brand-turquoise:        #09d0ce;
$-c-brand-turquoise-light:  #ace6e6;
$-c-brand-turquoise-dark:   #04aeb5;
$-c-brand-red:              #f53850;
$-c-brand-red-light:        #ff9da9;
$-c-brand-red-dark:         #ce1e34;
$-c-brand-gray:             #333e50;

// Theme colors
// To be used as variables in the project.
// Colors needs to be written as variables. Color hex codes are defined above.

// Brand Colors
$c-primary:               $-c-brand-purple;
$c-primary-light:         $-c-brand-purple-light;
$c-primary-dark:          $-c-brand-purple-dark;
$c-primary-xdark:         $-c-brand-purple-xdark;
$c-primary-hover:         darken($c-primary, 5%);
$c-primary-dark-hover:    darken($c-primary-dark, 5%);

$c-secondary:             $-c-brand-turquoise;
$c-secondary-light:       $-c-brand-turquoise-light;
$c-secondary-dark:        $-c-brand-turquoise-dark;
$c-secondary-hover:       darken($c-secondary, 5%);

$c-action:                $-c-brand-red;
$c-action-light:          $-c-brand-red-light;
$c-action-dark:           $-c-brand-red-dark;
$c-action-hover:          darken($c-action, 5%);

// Accent Colors
$c-accent:                $-c-gray-light;
$c-accent-hover:          darken($c-accent, 5%);
$c-accent-dark:           $-c-gray-medium;

// UI Colors
$c-ui-positive:           $-c-ui-green;
$c-ui-negative:           $-c-ui-red;
$c-ui-neutral:            $-c-ui-yellow;

$c-text-on-ui-positive:   $-c-white;
$c-text-on-ui-negative:   $-c-white;
$c-text-on-ui-neutral:    $-c-black-light;

// Text
$c-text:                    $-c-black-light;
//$c-text-lighten:          lighten($-c-black, 50%);
$c-text-lighten:            #999ea7; //TODO: Fix!
$c-text-on-primary:         $-c-white;
$c-text-on-primary-light:   $-c-black-light;
$c-text-on-primary-dark:    $-c-white;
$c-text-on-primary-xdark:   $-c-white;
$c-text-on-secondary:       $-c-white;
$c-text-on-secondary-light: $-c-black-light;
$c-text-on-secondary-dark:  $-c-white;
$c-text-on-action:          $-c-white;
$c-text-on-action-light:    $-c-black-light;
$c-text-on-action-dark:     $-c-white;
$c-text-on-accent:          $-c-black-light;
$c-text-on-accent-dark:     $-c-black-light;
$c-text-on-image:           $-c-white;

// Background
$c-bg:                    $-c-white;

// Border
$c-border:                $-c-gray;

// Input Placeholder
$c-input-placeholder:     lighten($-c-black, 50%);

// Modal
$c-modal-bg:              $-c-white;

// Rating
$c-rating:                $-c-ui-yellow;

// Disabled
$c-disabled-bg:           darken($c-accent, 10%);
$c-disabled-text:         darken($c-disabled-bg, 25%);

// Fade
$c-fade-dark-00:          rgba(0, 0, 0, 0);
$c-fade-dark-03:          rgba(0, 0, 0, 0.03);
$c-fade-dark-05:          rgba(0, 0, 0, 0.05);
$c-fade-dark-10:          rgba(0, 0, 0, 0.1);
$c-fade-dark-15:          rgba(0, 0, 0, 0.15);
$c-fade-dark-20:          rgba(0, 0, 0, 0.2);
$c-fade-dark-30:          rgba(0, 0, 0, 0.3);
$c-fade-dark-40:          rgba(0, 0, 0, 0.4);
$c-fade-dark-50:          rgba(0, 0, 0, 0.5);
$c-fade-dark-60:          rgba(0, 0, 0, 0.5);
$c-fade-dark-70:          rgba(0, 0, 0, 0.5);
$c-fade-dark-80:          rgba(0, 0, 0, 0.8);
$c-fade-dark-90:          rgba(0, 0, 0, 0.8);

$c-fade-light-00:         rgba(255, 255, 255, 0);
$c-fade-light-05:         rgba(255, 255, 255, 0.05);
$c-fade-light-10:         rgba(255, 255, 255, 0.1);
$c-fade-light-15:         rgba(255, 255, 255, 0.15);
$c-fade-light-20:         rgba(255, 255, 255, 0.2);
$c-fade-light-30:         rgba(255, 255, 255, 0.3);
$c-fade-light-35:         rgba(255, 255, 255, 0.35);
$c-fade-light-40:         rgba(255, 255, 255, 0.4);
$c-fade-light-50:         rgba(255, 255, 255, 0.5);
$c-fade-light-60:         rgba(255, 255, 255, 0.6);
$c-fade-light-70:         rgba(255, 255, 255, 0.7);
$c-fade-light-80:         rgba(255, 255, 255, 0.8);
$c-fade-light-85:         rgba(255, 255, 255, 0.85);
$c-fade-light-90:         rgba(255, 255, 255, 0.9);
$c-fade-light-95:         rgba(255, 255, 255, 0.95);

$c-fade-primary-00:       rgba($c-primary-dark, 0);
$c-fade-primary-05:       rgba($c-primary-dark, 0.05);
$c-fade-primary-10:       rgba($c-primary-dark, 0.1);
$c-fade-primary-80:       rgba($c-primary-dark, 0.8);

$c-fade-secondary-50:     rgba($c-secondary, 0.5);

$c-fade-action-50:        rgba($c-action, 0.5);

$c-fade-accent-00:        rgba($c-accent, 0);

$c-fade-text-70:          rgba($c-text, 0.7);

// sass-lint:disable indentation

// Clearfix

@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

// Custom Scrollbar

@mixin scrollbar($size, $spacing-top, $spacing-bottom, $spacing-left, $spacing-right, $track-bg: $c-fade-dark-05, $thumb-bg: $c-fade-dark-30) {
  &::-webkit-scrollbar {
    width: calc(#{$size} + #{$spacing-left} + #{$spacing-right});
    height: calc(#{$size} + #{$spacing-top} + #{$spacing-bottom});
    background-color: $c-fade-light-00;
  }

  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-thumb {
    border-top: $spacing-top solid $c-fade-light-00;
    border-bottom: $spacing-bottom solid $c-fade-light-00;
    border-left: $spacing-left solid $c-fade-light-00;
    border-right: $spacing-right solid $c-fade-light-00;
    background-clip: padding-box;
  }

  &::-webkit-scrollbar-track {
    background-color: $track-bg;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $thumb-bg;
  }
}

// Font Size Lock

@mixin font-size-lock($min-size, $max-size, $min-width, $max-width) {

  // $min-size: rem
  // $max-size: px
  // $min-width: px
  // $max-width: px

  @if unit($min-size) == px {
    $min-size: px-rem(strip-unit($min-size));
  } @else if unit($min-size) == em {
    $min-size: #{strip-unit($min-size)}rem;
  } @else if unitless($min-size) {
    $min-size: #{$min-size}rem;
  }

  font-size: $min-size;
  @media (min-width: $min-width) and (max-width: $max-width) {
    $size: $min-size;
    $size-increase: (strip-unit($max-size) - (strip-unit($size) * 16));
    font-size: calc(#{$size} + #{$size-increase} * (100vw - #{$min-width}) / (#{strip-unit($max-width)} - #{strip-unit($min-width)}));
  }
  @media (min-width: ($max-width + 1px)) {
    font-size: $max-size;
  }
}

// Keyframes

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

// Transform

@mixin transform($value...) {
  -webkit-transform: $value;
      -ms-transform: $value;
          transform: $value;
}

// Transform origin

@mixin transform-origin($value) {
  -webkit-transform-origin: $value;
      -ms-transform-origin: $value;
          transform-origin: $value;
}

// Animation

@mixin animation($value...) {
  -webkit-animation: $value;
          animation: $value;
}

// Font Size Fallback

@mixin font-size($size) {
  // sass-lint:disable-block no-duplicate-properties
  font-size: $size;
  font-size: calculate-rem($size);
}

// Opacity (IE5+)

@mixin opacity($opacity) {
  $opacity-ie: $opacity * 100;
  opacity: $opacity;
  filter: alpha(opacity=$opacity-ie);
}

// Unselectable

@mixin unselectable {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

// User select

@mixin user-select($value) {
  -webkit-user-select: $value;
     -moz-user-select: $value;
      -ms-user-select: $value;
          user-select: $value;
}

// Columns

@mixin columns($value) {
  -webkit-columns: $value;
     -moz-columns: $value;
          columns: $value;
}

@mixin column-gap($value) {
  -webkit-column-gap: $value;
     -moz-column-gap: $value;
          column-gap: $value;
}

// Flexbox
// TODO: Add inline-block fallback to this mixin

@mixin flex-display($display: flex) {
  // sass-lint:disable-block no-duplicate-properties
  display: -webkit-#{$display};
  display: -moz-#{$display};
  display: -ms-#{$display}box;
  display: -ms-#{$display};
  display: $display;
}

@mixin flex($columns: initial) {
  -webkit-flex: $columns;
      -ms-flex: $columns;
          flex: $columns;
}

@mixin flex-direction($direction: row) {
  -webkit-flex-direction: $direction;
      -ms-flex-direction: $direction;
          flex-direction: $direction;
}

@mixin flex-wrap($wrap: nowrap) {
  -webkit-flex-wrap: $wrap;
      -ms-flex-wrap: $wrap;
          flex-wrap: $wrap;
}

@mixin flex-flow($flow) {
  -webkit-flex-flow: $flow;
      -ms-flex-flow: $flow;
          flex-flow: $flow;
}

@mixin flex-order($order: 0) {
  -webkit-order: $order;
      -ms-order: $order;
          order: $order;
}

@mixin flex-grow($grow: 0) {
  -webkit-flex-grow: $grow;
      -ms-flex-grow: $grow;
          flex-grow: $grow;
}

@mixin flex-shrink($shrink: 1) {
  -webkit-flex-shrink: $shrink;
      -ms-flex-shrink: $shrink;
          flex-shrink: $shrink;
}

@mixin flex-basis($width: auto) {
  -webkit-flex-basis: $width;
      -ms-flex-basis: $width;
          flex-basis: $width;
}

@mixin justify-content($justify: flex-start) {
  -webkit-justify-content: $justify;
      -ms-justify-content: $justify;
          justify-content: $justify;
}

@mixin align-content($align: stretch) {
  -webkit-align-content: $align;
      -ms-align-content: $align;
          align-content: $align;
}

@mixin align-items($align: stretch) {
  -webkit-align-items: $align;
      -ms-align-items: $align;
          align-items: $align;
}

@mixin align-self($align: auto) {
  -webkit-align-self: $align;
      -ms-align-self: $align;
          align-self: $align;
}



[data-am-rangeslider] {
  $bar-height: 4px;
  $handle-size: 20px;
  $histogram-height: 50px;
  $histogram-spacing: 2px;

  position: relative;

  .range-slider {
    padding-left: ($handle-size / 2);
    padding-right: ($handle-size / 2);
    padding-bottom: (($handle-size - $bar-height) / 2);
  }

  // RC Slider

  .rc-slider {
    position: relative;
    height: $bar-height;
  }

  .rc-slider-rail {
    position: absolute;
    left: -($handle-size / 2);
    width: calc(100% + #{$handle-size});
    background-color: $c-accent-dark;
    height: $bar-height;
    border-radius: ($bar-height / 2);
  }

  .rc-slider-track {
    position: absolute;
    left: 0;
    height: $bar-height;
    border-radius: ($bar-height / 2);
    background-color: $c-primary;
    margin-left: -($handle-size / 2);
    margin-right: -($handle-size / 2);
  }

  .rc-slider-handle {
    position: absolute;
    top: 0;
    width: $handle-size;
    height: $handle-size;
    border-radius: 50%;
    margin-top: -(($handle-size - $bar-height) / 2);
    margin-left: -($handle-size / 2);
    background-color: $c-primary;
    cursor: move; // sass-lint:disable-line no-duplicate-properties
    cursor: ew-resize; // sass-lint:disable-line no-duplicate-properties
    cursor: -webkit-grab; // sass-lint:disable-line no-duplicate-properties
    cursor: grab; // sass-lint:disable-line no-duplicate-properties
  }

  .rc-slider-step,
  .rc-slider-mark {
    display: block;
  }

  // Histogram

  .histogram-container {
    margin-left: -($histogram-spacing);
    margin-right: -($histogram-spacing);

    + .bar,
    ~ .bar {
      margin-top: 0;
    }
  }

  .histogram-chart {
    display: table;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: $histogram-spacing 0;
    width: 100%;
    height: $histogram-height;
    overflow: hidden;
    margin-bottom: -1px; // Prevents half-pixel browser bugs to be visible
  }

  .histogram-column {
    display: table-cell;
    vertical-align: bottom;
    height: 100%;
  }

  .column-fill {
    position: relative;
    height: 0;
    background-color: $c-accent;

    &.is-active {
      background-color: $c-primary-light;
    }
  }

  // Range Input

  .range-input-container {
    font-size: 0.875rem;
    color: $c-text-lighten;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: $gutter-half;
  }

  .range-input {
    .input {
      display: inline-block;
      min-width: 1em;
      cursor: text;

      &:focus {
        outline: none;
        color: $c-text;
      }
    }
  }

  // Range Span

  .range-span {
    @include clearfix;
    margin-top: ($gutter-alt-half / 2);
  }

  .range-span-low,
  .range-span-high {
    @include unselectable;
    font-size: 0.875rem;
    color: $c-text-lighten;
    cursor: default;
  }

  .range-span-low {
    float: left;
  }

  .range-span-high {
    float: right;
  }
}

[data-am-rangeslider~='simple'] {
  $bar-height: 4px;
  $handle-size: 20px;

  .range-slider {
    padding-top: (($handle-size - $bar-height) / 2);
  }

  .rc-slider-track {
    margin-left: -($handle-size / 2);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
